<!DOCTYPE html>
<html>
<head>
    <title>Página de Login</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Reservas</h1>
    
    <form>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
        <br>
        <button type="submit">Entrar</button>
    </form>
    
    <button>Cadastrar</button>
    <button>Esqueci minha senha</button>
</body>
</html>
