<!DOCTYPE html>
<html>
<head>
    <title>administrador</title>
    <style>
        select {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<h1>Bem vindo(a) administrador!</h1>
<body>

    <form action="{{ url_for('gerenciar_reserva') }}" method="get">
    <button>Gerenciar Reservas</button>
    </form>

    <form action="{{ url_for('gerenciar_horario') }}" method="get">
    <button>Gerenciar Horários</button>
    </form>

    <form action="{{ url_for('gerenciar_servico') }}" method="get">
    <button>Gerenciar Serviços</button>
    </form>

    <form action="{{ url_for('gerenciar_cliente') }}" method="get">
    <button>Gerenciar Clientes</button>
    </form>

    <form action="{{ url_for('index') }}" method="get">
    <button>Sair</button>
    </form>

</body>
</html>

{% include 'partials/footer.html' %}