<!DOCTYPE html>
<html>
<head>
    <title>Meu Perfil</title>
    <style>
        select {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Meu Perfil</h1>
    <p><strong>Nome Completo:</strong> {{ current_user.nome }}</p>
    <p><strong>Data de Nascimento:</strong> {{ current_user.data_nascimento }}</p>
    <p><strong>Email:</strong> {{ current_user.email }}</p>
    <p><strong>Número de Telefone:</strong> {{ current_user.telefone }}</p>

    <form action="{{ url_for('logado') }}" method="get">
        <button>Voltar</button>
    </form>

</body>
</html>

{% include 'partials/footer.html' %}
