<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Reservas</title>
    <!-- Coloque aqui seus links de CSS, JS ou outros metadados -->
</head>
<body>
    <header>
        <h1>Sistema de Reservas</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('fazer_reserva') }}">Fazer Reserva</a></li>
                <li><a href="{{ url_for('fazer_cadastro') }}">Cadastrar</a></li>
                <!-- Adicione mais links de navegação aqui -->
            </ul>
        </nav>
    </header>
